@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1300px;
    background-color: #fbf0e4;
}

.strip {
    background-image: url('/img/f.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 70px;
}

h1, h2, div {
    font-family: "Playfair Display", serif;
    line-height: 170%;
    margin: 0;
    padding-top: 10px;
}

.header {
    text-align: center;
    position: relative;
    background: linear-gradient(
            180deg,
            #eda6a6 20%,
            #fbf0e4 100%
    );
}

.zavd {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 10px 10px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.filters {
    border: 2px solid #cd7474;
    background-color: #fff0f0;
    border-radius: 10px;
    padding: 16px 16px 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
    align-items: flex-end;
}

.button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffc1c1;
    border: 2px solid #a43838;
    color: #000000;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
    transition: 0.2s;
}